.snapshot:hover 
{
background-color: red;
}

canvas {
animation-name: shadow;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes shadow {
from{box-shadow: 1px 1px 40px red;}

to{box-shadow: 1px 1px 40px purple;}
}